how to run.txt
symnmf_spheres.txt
symnmf_spheres_res.txt
symnmf_iris.txt
symnmf_iris_res.txt
symnmf_drive2.txt
symnmf_drive2_res.txt
symnmf_drive1.txt
symnmf_drive1_res.txt
symc_spheres_res.txt
symc_iris_res.txt
symc_drive2_res.txt
symc_drive1_res.txt
sym_spheres.txt
sym_spheres_res.txt
sym_iris.txt
sym_iris_res.txt
sym_drive2_res.txt
sym_drive2.txt
sym_drive1_res.txt
sym_drive1.txt
spheres.txt
run_symnmf.sh
README.md
normc_spheres_res.txt
normc_iris_res.txt
normc_drive2_res.txt
normc_drive1_res.txt
norm_spheres.txt
norm_spheres_res.txt
norm_iris.txt
norm_iris_res.txt
norm_drive2.txt
norm_drive2_res.txt
norm_drive1.txt
norm_drive1_res.txt
mysymnmf.cpython-36m-x86_64-linux-gnu.so
iris.txt
drive2.txt
drive1.txt
ddgc_iris_res.txt
ddgc_spheres_res.txt
ddgc_drive2_res.txt
ddgc_drive1_res.txt
ddg_spheres.txt
ddg_iris.txt
ddg_spheres_res.txt
ddg_iris_res.txt
ddg_drive2.txt
ddg_drive2_res.txt
ddg_drive1.txt
ddg_drive1_res.txt
build/lib.linux-x86_64-3.6/mysymnmf.cpython-36m-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.6/symnmf.o
symnmf_.c
mysymnmf.cpython-36m-x86_64-linux-gnu.so
input_1.4.txt
input_1.3.txt
input_1.2.txt
elbow.png
compare.py
322885203_322573007_project.zip
__pycache__/analysis.cpython-36.pyc
__pycache__/symnmf.cpython-36.pyc
